<div class="container min-vh-100 d-flex justify-content-center align-items-center">
    <div class="row w-100">
      <!-- La colonne pour centrer le formulaire -->
      <div class="col-md-6 mx-auto">
        <div class="card p-4">
          <h2 class="text-center mb-4">Inscription</h2>
  
          <!-- Affichage des erreurs -->
          <div *ngIf="errorRegisterMessage" class="alert alert-danger text-center">
            {{ errorRegisterMessage }}
          </div>
  
          <!-- Formulaire de connexion -->
          <form>
            <!-- Champ Nom d'utilisateur -->
            <div class="row mb-3">
              <div class="col-12">
                <label for="username" class="form-label">Nom d'utilisateur</label>
                <input
                  id="username"
                  [(ngModel)]="username"
                  name="username"
                  type="text"
                  class="form-control"
                  placeholder="Entrez votre nom d'utilisateur"
                  required
                />
              </div>
            </div>
  
            <!-- Champ Mot de passe -->
            <div class="row mb-4">
              <div class="col-12">
                <label for="password" class="form-label">Mot de passe</label>
                <input
                  id="password"
                  [(ngModel)]="password"
                  name="password"
                  type="password"
                  class="form-control"
                  placeholder="Entrez votre mot de passe"
                  required
                />
              </div>
            </div>

            <div class="filter-container mb-3 col-12">
                <label for="role" class="form-label">Rôle</label>
                <select id="role" [(ngModel)]="role" name="role" class="form-select" required>
                  <option value="">Sélectionnez un rôle</option>
                  <option value="user">user</option>
                  <option value="admin">admin</option>
                </select>
            </div>
  
            <!-- Bouton Se connecter -->
            <div class="row">
              <div class="col-12">
                <button (click)="register()" type="submit" class="btn btn-primary w-100">S'inscrire</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  